@inherits Components.ProductService

<div style="max-width: @GetWidthParametr()" class="p-2 m-2 border border-2 rounded">
    <a class="product-link" href="#">
        <img style="width: 100%" class="img-fluid" src="@ShopProduct?.PhotoPath"/>
        <div>
            <p class="link-product p-2 text-wrap text-break">@ShopProduct?.Name</p>
        </div>
    </a>
    <div class="p-1 d-flex justify-content-between">
        <h4 class="my-auto">@ShopProduct?.Price₽</h4>
        <button style="min-width: 100px" class="btn d-flex shadow-none flex-row cart-button rounded-pill p-2">
            <img style="width: 30px" class="img-fluid mx-auto" src="src/cart.svg"/>
        </button>
    </div>
</div>

