body {
    background-attachment: fixed;
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

.box-form {
    align-items: stretch;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px 6px #090b6f85;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

@media (max-width: 980px) {
    .box-form {
        align-content: center;
        align-items: center;
        flex-flow: wrap;
        text-align: center;
    }

    h1 {
        font-size: 44pt;
    }
}
@media (min-width: 980px) {
    h1 {
        font-size: 64pt;
    }
}

.box-form div { height: auto; }

.left {
    background-image: url("login-page-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    overflow: hidden;
}

.overlay {
    backdrop-filter: blur(3px);
}

.box-form .overlay {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    width: 100%;
}

.box-form .left .overlay h1 {
    font-weight: 900;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 40px;
}

.box-form .left .overlay span p {
    font-weight: 900;
    margin-top: 30px;
}

.box-form .right {
    overflow: hidden;
    padding: 40px;
}

@media (max-width: 980px) {
    .box-form .right { width: 100%; }
    .right {
        min-width: 100%;
    }
}

.right {
    min-width: 40%;
}

.box-form .right h4 {
    font-size: 28pt;
    line-height: 1;
}

.box-form .right p {
    color: #B0B3B9;
    font-size: 16px;
}

.box-form .right .inputs { overflow: hidden; }

.box-form .right input {
    border: none;
    border-bottom: 2px solid #B0B3B9;
    font-size: 16px;
    margin-top: 25px;
    outline: none;
    padding: 10px;
    width: 100%;
}


.box-form .right button {
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    outline: 0;
    padding: 12px 35px;
}


