@page "/login"
<link href="css/custom-css/Login/style.css" rel="stylesheet"/>



<!-- partial:index.partial.html -->
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Доступ до кабінету!</h1>
            <p>
                Щоб отримати доступ до замовлень, особистої інформації можете зареєструватися ибо ввійти у вже існуючий профіль.
            </p>

        </div>
    </div>


    <div class="right">
        <h4 class="mb-4">Вхід в кабінет</h4>
        <p class="my-1">Не маєте акунту? <NavLink href="/register" Match="NavLinkMatch.All">Зарєструвати новий</NavLink></p>
        <div class="inputs">
            <input class="input-group-text" type="text" placeholder="им'я користувача...">
            <br>
            <input class="input-group-text" type="password" placeholder="пароль...">
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <div class="my-auto form-check">
                <input style="width: 20px" class="my-auto form-check-input" type="checkbox" value="" id="check-remeberme-login" checked>
                <label class="mx-2 my-auto form-check-label" for="check-remeberme-login">
                    Запам'ятати мене
                </label>
            </div>
            <button class="rounded">Увійти</button>
        </div>

        <br>
    </div>

</div>